extends layouts/frontend

block content
    .ui.middle.aligned.center.aligned.grid
        .six.wide.column
    h1 Dashboard

    a(href='/logout', type="submit").ui.fluid.large.teal.submit.button Se déconnecter